/* 
Color for panels: #F9F7FA
Color for background: #E0DEE0
Color for shadows: #BAB8BA

*/

.searchResults-container {
  flex: 1 1 70%;
  margin: 1rem 1% 0 1%;
}

.search-term-display {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 98%;
  margin: 0 auto 0.5rem;
  background-color: #f9f7fa;
  box-shadow: 0 0.5rem 0.3rem #bab8ba;
  border-radius: 0.2rem;
}

/* Styles for rendering POSTS */
.postSearchResult-container {
  display: flex;
  height: 6rem;
  background-color: #f9f7fa;
  box-shadow: 0.5rem 0.5rem 0.3rem #bab8ba;
  border-radius: 0.2rem;
  margin: 0 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem;
  transition: all 0.3s;
}

.postSearchResult-container > * {
  align-items: center;
}

.postSearchResult-container:hover {
  transform: translate(0.1rem, -0.1rem);
  cursor: pointer;
  box-shadow: 0.6rem 0.6rem 0.3rem #bab8ba;
  /* box-shadow: 0.5rem 0.5rem 0.3rem rgb(100, 99, 99); */
}

.ups {
  flex-shrink: 0;
  background-color: #e0dee0;
  font-size: 0.5rem;
  font-weight: 700;
  width: 1.75rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 6rem;
  flex-shrink: 0;
  padding: 0 0.5rem;
}

.thumbnail-container img {
  max-height: 100%;
  max-width: 100%;
}

.content-container {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.title {
  flex-grow: 1;
  align-self: flex-start;
  font-size: 0.75rem;
  overflow-y: hidden;
}

.date-stamp {
  margin-top: 0.2rem;
  font-size: 0.5rem;
}

/* Styles for rendering SUBREDDITS */

.search-term-display span {
  font-weight: 550;
}

.subredditSearchResult-container {
  display: flex;
  height: 3rem;
  background-color: #f9f7fa;
  box-shadow: 0.3rem 0.3rem 0.3rem #bab8ba;
  border-radius: 0.2rem;
  margin: 0 0.5rem 0.3rem 0.5rem;
  padding: 0.5rem;
  transition: all 0.3s;
}

.subredditSearchResult-container:hover {
  transform: translate(0.05rem, -0.05rem);
  cursor: pointer;
}

.subreddit-icon-container {
  height: 100%;
  margin-bottom: 0.2rem;
}

.subreddit-icon-container img {
  height: 100%;
  border-radius: 50%;
}

.subreddit-info-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  /* justify-content: center; */
  /* align-items: center; */
  width: 7rem;
  font-size: 0.5rem;
}

.subreddit-info-container > * {
  margin: 0.2rem 0 0 0.2rem;
}

.subreddit-name {
  font-size: 0.6rem;
  font-weight: 550;
}

.description-container {
  font-size: 0.7rem;
  margin-left: 0.5rem;
  overflow-y: hidden;
}

@media screen and (max-width: 700px) {
  .searchResults-container {
    margin: 0.5rem auto;
    max-width: 100%;
  }

  .postSearchResult-container {
    margin: 0 auto 0.5rem auto;
  }
  .subredditSearchResult-container {
    margin: 0 auto 0.3rem auto;
    max-width: 100%;
  }

  .description-container {
    overflow-y: auto;
  }

  .subreddit-icon-container {
    height: 80%;
    margin-bottom: 0.2rem;
  }

  .subreddit-icon-container img {
    height: 100%;
    border-radius: 50%;
  }

  .subreddit-info-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    /* justify-content: center; */
    /* align-items: center; */
    width: 7rem;
    font-size: 0.5rem;
  }
}
