/* 
Color for panels: #F9F7FA
Color for background: #E0DEE0
Color for shadows: #BAB8BA

*/

.searchResults-container {
  flex: 1 1 70%;
  margin: 1rem 1% 0 1%;
}

.searchResult-container {
  display: flex;
  height: 4rem;
  background-color: #f9f7fa;
  box-shadow: 0.5rem 0.5rem 0.3rem #bab8ba;
  border-radius: 0.2rem;
  margin: 0 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem;
  transition: all 0.3s;
}

.searchResult-container > * {
  align-items: center;
}

.searchResult-container:hover {
  z-index: 10;
  transform: translate(0.1rem, -0.1rem);
  cursor: pointer;
  box-shadow: 0.6rem 0.6rem 0.3rem #bab8ba;
  /* box-shadow: 0.5rem 0.5rem 0.3rem rgb(100, 99, 99); */
}

.ups {
  flex-shrink: 0;
  background-color: #e0dee0;
  font-size: 0.5rem;
  font-weight: 700;
  width: 1.75rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 4rem;
  flex-shrink: 0;
  padding: 0 0.5rem;
}

.thumbnail-container img {
  max-height: 100%;
  max-width: 100%;
}

.content-container {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.title {
  flex-grow: 1;
  align-self: flex-start;
  font-size: 0.75rem;
  overflow-y: hidden;
}

.date-stamp {
  margin-top: 0.2rem;
  font-size: 0.5rem;
}

@media screen and (max-width: 320px) {
}
