/* 
Color for panels: #F9F7FA
Color for background: #E0DEE0
Color for shadows and hoover: #BAB8BA

*/

.subredditPanel-container {
  flex: 1 1 20%;
  align-self: flex-end;
  height: fit-content;
  background-color: #f9f7fa;
  box-shadow: 0.5rem 0.5rem 0.3rem #bab8ba;
  border-radius: 0.2rem;
  margin: 1rem 0;
  margin-right: 2%;
}

.subredditPanel-container h2 {
  padding-left: 0.75rem;
}

.subreddit-container {
  display: flex;
  margin: 0.2rem 0.4rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.active {
  border-left: 0.4rem solid black;
  background-color: #e0dee0;
}

.subreddit-container:hover {
  background-color: #bab8ba;
  cursor: pointer;
}

.subreddit-img {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  padding-right: 0.5rem;
}

.subreddit-img img {
  width: 100%;
  border-radius: 50%;
}
