/* 
Color for panels: #F9F7FA
Color for background: #E0DEE0
Color for shadows and hoover: #BAB8BA

*/

.subredditPanel-container {
  box-sizing: border-box;
  background-color: #f9f7fa;
  box-shadow: 0.5rem 0.5rem 0.3rem #bab8ba;
  border-radius: 0.2rem;
  width: 25%;
  margin-top: 1rem;
  margin-right: 2%;
}

.subredditPanel-container h2 {
  padding-left: 0.5rem;
}

.subreddit-container {
  margin: 0.4rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

.active {
  border-left: 0.4rem solid black;
  background-color: #e0dee0;
}

.subreddit-container:hover {
  background-color: #bab8ba;
}
