/* 
Color for panels: #F9F7FA
Color for background: #E0DEE0
Color for shadows and hoover: #BAB8BA
Clickable items : orangered / rgba(255,69,0,1)

*/

.subredditPanel-container {
  flex: 1 1 20%;
  align-self: flex-end;
  height: fit-content;
  background-color: #f9f7fa;
  box-shadow: 0.5rem 0.5rem 0.3rem #bab8ba;
  border-radius: 0.2rem;
  margin: 1rem 0;
  margin-right: 2%;
}

.subredditPanel-container h2 {
  padding-left: 0.75rem;
}

.subreddit-container {
  display: flex;
  margin: 0.2rem 0.4rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.active {
  border-left: 0.4rem solid orangered;
  background-color: rgba(255, 69, 0, 0.3);
}

.subreddit-container:hover {
  background-color: #bab8ba;
  cursor: pointer;
}

.subreddit-img {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  padding-right: 0.5rem;
}

.subreddit-img img {
  width: 100%;
  border-radius: 50%;
}

@media screen and (max-width: 700px) {
  /* creating X scroll for subreddits */
  .subredditPanel-container {
    display: block;
    width: 98%;
    margin: 0.5rem auto 0 auto;
  }
  .subreddits-container {
    display: flex;
    overflow-x: auto;
  }

  .subreddit-container:hover {
    background-color: rgba(255, 69, 0, 0.3);
    cursor: pointer;
  }

  .subredditPanel-container h2 {
    font-size: 1rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
