.loading-spinner {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.spinner-container {
  margin-top: 5vw;
  width: 15%;
}

.spinner-container img {
  animation: swing 2s infinite;
  width: 100%;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-30deg);
  }
  66% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.loading-spinner p {
  margin-top: 1.5vw;
  font-size: 2vw;
}
