/* 
Color for panels: #F9F7FA
Color for background: #E0DEE0
Color for shadows: #BAB8BA

*/

html,
body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 24px;
  background-color: #e0dee0;
}
h2 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.app-container {
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  flex-wrap: wrap-reverse;
  height: auto;
}

@media screen and (max-width: 320px) {
  html,
  body {
    font-size: 16px;
  }
}
