/* 
Color for panels: #F9F7FA
Color for background: #E0DEE0
Color for shadows: #BAB8BA
Clickable items : orangered / rgba(255,69,0,1)

*/

.searchBar-container {
  position: absolute;
  /* move to the center in x */
  left: 50%;
  transform: translateX(-50%);
}

form {
  display: flex;
  align-items: center;
}
.input-box {
  font-size: 0.75rem;
  width: 12rem;
  height: 1.5rem;
  border-radius: 0.3rem;
  box-shadow: 1;
  padding-left: 0.5rem;
}

.btn-submit {
  height: 1rem;
  padding: 0.15rem;
  margin-left: 0.2rem;
  border: 3px solid orangered;
  border-radius: 50%;
  transition: all 0.5s ease-in;
}

.btn-submit:hover {
  z-index: 20;
  transform: translateY(-0.1rem);
  transform: rotate(20deg);
  box-shadow: 0.1rem 0.1rem 0.3rem #bab8ba;
}

@media screen and (max-width: 480px) {
  .input-box {
    width: 10rem;
  }
}
