/* 
Color for panels: #F9F7FA
Color for background: #E0DEE0  / rgba(224, 222, 224, 1)
Color for shadows: #BAB8BA
Clickable items : orangered / rgba(255,69,0,1)

*/

/* Styles for overlay and main container */
.overlay {
  z-index: 1000;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(224, 222, 224, 0.9);
  overflow-y: scroll;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 0;
  left: 10%;

  z-index: 1010;
  width: 80%;
  margin-top: 1vw;
  padding-bottom: 2vw;

  min-height: 40%;

  background: #f9f7fa;
  border-radius: 0.2rem;
  box-shadow: 0.5rem 0.5rem 0.3rem #bab8ba;
}

/* Styles for top-bar and title */
.top-bar {
  display: inline;
  width: 100%;
  padding: 0.5rem 0;
  border-bottom: 1px solid black;
}

.author {
  font-size: 0.75rem;
  font-weight: 550;
  color: orangered;
  margin-top: 1rem;
  margin: 0.5rem 0.5rem 0 0.5rem;
}

.posted {
  font-size: 0.5rem;
}

.btn-exit {
  float: right;
  border: 3px solid orangered;
  border-radius: 0.3rem;
  margin-right: 0.5rem;
  padding: 0.1rem;
  transition: 0.5s all;
}

.btn-exit:hover {
  cursor: pointer;
  z-index: 1020;
  transform: translateY(-0.1rem);
  box-shadow: 0.1rem 0.1rem 0.3rem #bab8ba;
}

.h2-post {
  margin: 0.5rem 1rem 1rem 1rem;
  font-weight: 550;
}
/* Styles for media */
.img-post,
.video-post,
.embeded-post {
  max-width: 90%;
  max-height: 90vh;
  box-shadow: 0.5rem 0.5rem 0.3rem #bab8ba;
}

/* Styles for formated text */
.text-post {
  max-width: 90%;
  line-height: 1.6;
}

.text-post li {
  list-style: inside;
}

.text-post ol,
.text-post ul {
  margin: 1rem;
}

.text-post strong {
  font-weight: 550;
}

/* Styles for bottom bar */
.bottom-bar {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: 2rem;
  padding: 0.5rem 0;
  border-top: 1px solid black;
}
/* Styles for link */
.link-oryginal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;

  text-decoration: none;
}
.link-oryginal a {
  margin-left: 0.3rem;
  color: inherit;
  text-decoration: none;
}

.anchor-img {
  height: 1.5rem;
  border: 3px solid orangered;
  border-radius: 0.3rem;
  transition: 0.5s all;
}

.anchor-img:hover {
  cursor: pointer;
  z-index: 1020;
  transform: translateY(-0.1rem);
  box-shadow: 0.1rem 0.1rem 0.3rem #bab8ba;
}
.bottom-bar > * {
  margin-right: 0.5rem;
}

.upvotes {
  align-self: center;
  justify-self: start;

  font-size: 0.75rem;
  float: right;
}

.comments {
  z-index: 1020;
  display: flex;
  align-items: center;

  font-size: 0.75rem;
  align-self: center;
  float: left;
  border: 3px solid orangered;
  border-radius: 0.3rem;
  transition: 0.5s all;
}
.comments:hover {
  cursor: pointer;
  z-index: 1020;
  transform: translateY(-0.1rem);
  box-shadow: 0.1rem 0.1rem 0.3rem #bab8ba;
}

.comments img {
  height: 1.5rem;
}
